.off-mode {
  display: flex;
  height: 3rem;
  position: relative;
  width: 7rem;
  align-items: center;
  gap: 3rem;
  border-radius: 2rem;
  padding: 1rem;
  justify-content: space-between;
  background-color: gray;
}
.on-mode {
  display: flex;
  height: 3rem;
  position: relative;
  width: 7rem;
  align-items: center;
  gap: 3rem;
  border-radius: 2rem;
  padding: 1rem;
  justify-content: space-between;
  background-color: green;
}

.btn-on {
  top: 0.5rem;
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 0.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.btn-off {
  top: 0.5rem;
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: 0.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: white;
}
@media screen and (max-width: 500px) {
  .off-mode {
    width: 5rem;
    height: 2rem;
  }
  .on-mode {
    width: 5rem;
    height: 2rem;
  }
  .btn-off {
    top: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .btn-on {
    top: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
