.memory-contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  overflow: auto;
}

.memory-contain ul {
  padding: 0 2rem;
  /* overflow: auto; */
  margin-top: 5rem;
  color: var(--btnColor);
}
.memory-contain li {
  list-style: none;
  font-size: large;
  margin-top: 2rem;
}
.memory-contain span {
  font-size: xx-large;
}
.clear-memory {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: flex-end;
  /* align-items: flex-end; */
  background-color: var(--backgroundColor);
  padding: 5px 1rem;
  width: 40%;
}
.trash-icon {
  /* float: right; */
  color: var(--btnColor);
  z-index: +4;
}

.memory-data {
  position: relative;
  flex-wrap: wrap;
  padding: 0 2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}
.remove-history {
  cursor: pointer;
  /* position: absolute; */
  /* right: 0; */
}
.memory-message {
  margin-top: 15rem;
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center;
  color: var(--btnColor);
}

.memory-contain::-webkit-scrollbar {
  outline: none;
  width: 8px;
}
.memory-contain::-webkit-scrollbar-track {
  background-color: white;
}
.memory-contain::-webkit-scrollbar-thumb {
  background-color: #1a1125;
}

.memory-contain::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}
@media screen and (max-width: 700px) {
  .memory-contain ul {
    margin-top: 1rem;
  }
  .clear-memory {
    width: 100%;
  }
  .memory-message {
    margin-top: 6rem;
  }
}
